.container {
    min-width: 320px;
    max-width: 962px;
    margin: 0 auto;
    position: relative;
}

.numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container p {
    font-size: 30px;
    border: 2px solid #000;
    border-radius: 60%;
    padding: 30px;
}

.container input {
    background-color: #1f78d1;
    border-radius: 10px;
    color: #fff;
    width: 150px;
    padding: 20px;
    cursor: pointer;
    margin-left: 42%;
    margin-top: 5%;
}
